*{
    margin:0;
   
}

//**************************
//!Variable Decleration
//****************
$bgColor: pink;
$fontColor:white;
$fontSize:1.2rem;
$fontFamily:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$navBgColor: #30a7c3;
$myBorder: 2px solid rgb(175, 29, 29);
$myLinkSize: 19px;
$bannerBgColor: #cc6699;
//**************************
//!Variable Usage
//****************
body{
    font-family:$fontFamily ;
    background-color: $bgColor;
}